<div class="who-are-we">
    <div class="about-us">
        <h1>About Us</h1>
    </div>
    <h1>We are a professional towing company available 24/7 to assist you. Whether you are stranded on the road or need roadside assistance, we respond fast and efficiently. Our experienced team is ready to help anytime, anywhere. "Contact us today and let us get you back on track..!"</h1>
    <div class="list__images">
        <img src="assets/img-centro-truck.png" alt="image-truck-circular">
        <img src="assets/truck-2.png" alt="image-truck-2">
        <img src="assets/img-centro-truck.png" alt="image-truck-circular">
        <img src="assets/img-centro-truck.png" alt="image-truck-circular">               
    </div>
</div>