<div class="how-its">
    <h1>What should I do?</h1>                                  
    <div class="icons__howIts" >
        <div class="icons" >                            
            <img src="assets/call_icon.png" alt="icon_call"> 
            <p>Call us</p>
        </div> 
        <div class="icons">
            <img src="assets/icon-arrow.png" alt="icon_icon_arrow">
        </div> 
        <div class="icons">
            <img src="assets/calculator.png" alt="icon_calculator">
            <p>Free Estimate</p>
        </div> 
        <div class="icons">
            <img src="assets/icon-arrow.png" alt="icon_icon_arrow">
        </div>  
        <div class="icons">
            <img src="assets/icon-camion.png" alt="icon_camion">
            <p>Don't Worry! We'll Be There for you</p>
        </div>                                         
    </div>
</div>
