<div class="banner-why-chosse-me"> 
    <div class="image24">
        <img src="assets/customer-service-support-247.png" alt="">
    </div>   
    <div class="elementos">
        <h2>{{ title }}</h2>     
        <div *ngFor="let item of description">
            {{ item }}
            <div class="line">
               <p>--------------------------------------------</p> 
            </div>            
        </div> 
        <div class="btn-call-me">
            <app-btn-call-me texto="+1 786-750-2303"></app-btn-call-me>
        </div>
    </div>   
      
</div>
