
    <h1>⭐ What Our Customers Say</h1>    
    <div class="comment-section">
        <div class="comment">
          <img src="assets/img1.png" alt="img1">
          <p>⭐⭐⭐⭐⭐</p>
          <h3>Juan Pérez</h3>
          <p>Servicio excelente, llegó rápido y muy profesional.</p>
        </div>    
        <div class="comment">
            <img src="assets/img3.png" alt="img4">
            <p>⭐⭐⭐⭐⭐</p>
          <h3>José Martín</h3>
          <p>Atención de primera, totalmente recomendado.</p>
        </div>
        <div class="comment">
            <img src="assets/img4.png"  alt="img4">
            <p>⭐⭐⭐⭐⭐</p>
          <h3>Carla Suárez</h3>
          <p>Muy responsables y eficientes.</p>
        </div>
        <div class="comment">
            <img src="assets/img5.png" alt="img5">
            <p>⭐⭐⭐⭐⭐</p>
          <h3>Ricardo Díaz</h3>
          <p>Fast Services and Safe.</p>
        </div>
        <div class="comment">
            <img src="assets/img6.png" alt="img6">
            <p>⭐⭐⭐⭐</p>
          <h3>Sofía Herrera</h3>
          <p>Mi asistencia demoro un poco pero muy bueno el servicio. Recomendado 100%</p>
        </div>
    </div>   

