<div class="home__container">
    <div class="home__content">
        <div class="form-quote">
            <app-form-quote></app-form-quote>
        </div>
        <div class="home__image">            
            <img src="assets/towing-truck-v2.png" alt="Towing truck">
        </div>        
        <div class="banners__page">
            <div class="banner">
                <app-banner></app-banner>
            </div>
            <div class="imagen__florida">
                <img src="assets/Map_of_Florida.png" alt="map-florida">
            </div>
            <div class="table-services">
                <app-towing-services-table></app-towing-services-table>
            </div>  
            <div class="banner-are-we">
                <app-who-are-we></app-who-are-we>
            </div>   
            <div class="banner-why-chosse-me">
                <app-banner-why-chosse-me></app-banner-why-chosse-me>
            </div> 
            <div class="img-whats-app">
                <app-icon-whatss-app></app-icon-whatss-app>
            </div>
            <div class="banner-opinions">
                <app-banner-people-opinions></app-banner-people-opinions> 
            </div>
            <div class="banner-sell">
                <app-banner-sell></app-banner-sell>
            </div> 
        </div>
    </div>
</div>





